body {
	font-family: "Lacquer", "Sour Gummy", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
	background-color: #333;
	background-image: url("./Assets/poker.jpg");
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	font-weight: bold;
	color: rgb(255, 255, 255);
	text-shadow: #000000 0.1em 0.1em 0.2em;
	text-align: center;
	font-size: 25px;

}

h1 {
	color: goldenrod;
	font-size: 3.2rem;
	margin-top: 0;
}

#message-el {
	font-style: italic;
}

button {
	color: #000000;
	width: 150px;
	height: 40px;
	background: goldenrod;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
	border: none;
	border-radius: 2px;
	margin-bottom: 2px;
	margin-top: 5px;
	margin-left: 5px;
	cursor: pointer;
	font-family: "Lacquer", "Sour Gummy", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
	font-size: 1.2rem;
}

.buttons {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#start-game-button.disabled, #new-card-button.disabled, #restart-button.disabled {
	display: none;
}

.playing-cards {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 0.2rem;
}

img {
	width: 4.5rem;
	border-radius: 5px;
	
}


.game-container {
	background-color: rgba(255, 255, 255, .15);
	backdrop-filter: blur(5px);
	border-radius: 15px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.91);
	padding-bottom: 3rem;
	padding-top: 3rem;
	max-width: 500px;
	width: 95%;
	margin: 150px auto;
}